/* Copyright (C) 2026 Qore Technologies, s.r.o. */

/** @page amqptypemapguide Type Mapping

    @tableofcontents

    |!AMQP Type|!%Qore Type
    |string|string
    |binary|binary
    |boolean|bool
    |byte/short/int/long|int
    |float/double|float
    |timestamp|date
    |uuid|string (formatted)
    |symbol|string
    |map|hash
    |list|list
    |null|NOTHING
*/
